@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: #ead915;
    background: rgb(0, 0, 0);
}

html {
    @apply w-full h-screen overflow-hidden;
}

body {
    font-family: GmarketSans;
    margin: 0px;
    @apply w-full h-full overflow-x-hidden overflow-y-auto bg-gray-900;
    scroll-snap-type: y mandatory; 
}

.dump-scroll {
    height: 3000px;
    width: 100%;
}

.flex-center {
    @apply flex flex-col items-center justify-center;
}


/* ----------------------------------------------------------------------------- */
/*                                     section                                   */
/* ----------------------------------------------------------------------------- */
.section {
    @apply relative z-0 flex flex-col w-full h-screen overflow-hidden;
    scroll-snap-align: start;
}


.section .header {
    @apply w-full px-10 pt-24 pb-10 text-2xl text-white;
}


.section .content {
    @apply w-full px-10 text-base font-light text-white;
    /* padding: 200px; */
}

img {
    user-select: none;
}
